@font-face {
  font-family: "Sharpie-Variable";
  src: url("fonts/Sharpie-Variable.woff2") format("woff2"), url("fonts/Sharpie-Variable.woff") format("woff"), url("fonts/Sharpie-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Sharpie-Light";
  src: url("fonts/Sharpie-Light.woff2") format("woff2"), url("fonts/Sharpie-Light.woff") format("woff"), url("fonts/Sharpie-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Sharpie-Regular";
  src: url("fonts/Sharpie-Regular.woff2") format("woff2"), url("fonts/Sharpie-Regular.woff") format("woff"), url("fonts/Sharpie-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Sharpie-Bold";
  src: url("fonts/Sharpie-Bold.woff2") format("woff2"), url("fonts/Sharpie-Bold.woff") format("woff"), url("fonts/Sharpie-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  text-align: center;
  font-size: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@font-face {
  font-family: "Dogica";
  src: url("./fonts/dogica.ttf") format("truetype"), url("./fonts/dogica.otf") format("otf");
}
body {
  background-color: #f2eee9;
  font-family: "Dogica";
  color: #f2eee9;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.68);
}
body .videoTag {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}
body .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
}
body .App h1 {
  font-family: "Rocher";
  font-size: 3rem;
}
body .App button {
  font-family: "Dogica";
  color: #ecf0f1;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #e67e22;
  border: 1px solid #f39c12;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 6px 0px #d35400;
  transition: all 0.1s;
  margin-top: 50px;
}
body .App button:active {
  box-shadow: 0px 2px 0px #d35400;
  position: relative;
  top: 2px;
}
body .container {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
  gap: 2rem;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.32);
}
body .container img {
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.32);
}
body .container img:hover {
  cursor: pointer;
}
body .container .modal {
  display: block;
  position: fixed;
  padding: 2rem;
  background: rgb(255, 255, 255);
  color: #383838;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.32);
}/*# sourceMappingURL=style.css.map */